<app-small-header 
  [backgroundImage]="'assets/images/header2.jpg'"
  [darkFilter] = "true"
  [title]="'CONTRIBUIR'"
  [description]="'Cada um dê conforme determinou em seu coração, não com pesar ou por obrigação, pois Deus ama quem dá com alegria. <br> (2 Coríntios 9:7)'">
</app-small-header>

<div class="bg-gray-900 py-12 px-4 lg:px-8">
  <h2 class="text-4xl font-bold text-center mb-12 text-white">Formas de Contribuir</h2>

  <!-- Grelha para os métodos de contribuição -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-12 text-center text-white">
    
    <!-- MB Way -->
    <div class="flex flex-col items-center">
      <!-- Ícone Monocromático -->
      <i class="fa-solid fa-mobile-screen-button text-6xl text-gray-400 mb-4"></i>
      <!-- Título -->
      <h3 class="text-xl font-semibold mb-2 text-gray-200">Contribua com MB Way</h3>
      <!-- Descrição -->
      <p class="text-gray-400 mb-4">Envie a sua contribuição através do MB Way para o número 933 333 333.</p>
      <!-- Botão -->
      <button class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">Copiar Número</button>
    </div>

    <!-- Transferência Bancária -->
    <div class="flex flex-col items-center">
      <!-- Ícone Monocromático -->
      <i class="fa-solid fa-university text-6xl text-gray-400 mb-4"></i>
      <!-- Título -->
      <h3 class="text-xl font-semibold mb-2 text-gray-200">Contribua por Transferência</h3>
      <!-- Descrição -->
      <p class="text-gray-400 mb-4">Faça uma transferência para o IBAN: PT50 0000 0000 0000 0000 0000.</p>
      <!-- Botão -->
      <button class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">Copiar IBAN</button>
    </div>

    <!-- Contribuição Local -->
    <div class="flex flex-col items-center">
      <!-- Ícone Monocromático -->
      <i class="fa-solid fa-church text-6xl text-gray-400 mb-4"></i>
      <!-- Título -->
      <h3 class="text-xl font-semibold mb-2 text-gray-200">Contribua Localmente</h3>
      <!-- Descrição -->
      <p class="text-gray-400 mb-4">Faça a sua contribuição diretamente na igreja, durante os cultos.</p>
      <!-- Botão -->
      <button class="bg-gray-700 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">Saiba Mais</button>
    </div>

  </div>
</div>

  