<app-small-header 
  [backgroundImage]="'assets/images/header2.jpg'"
  [darkFilter] = "true"
  [title]="'IGREJA COM PROPÓSITOS'"
  [description]="'Conheça os fundamentos da nossa igreja'">
</app-small-header>

<div class="w-full bg-gray-900 text-white">
    <app-purpose
        [title]="'ADORAR'"
        [subtitle]="'Planeados para ter relacionamento com Deus'"
        [descriptionTitle]="'Amar a Deus com todo o coração:'"
        [description]="'Adorar a Deus é o primeiro propósito da igreja! Ter um relacionamento genuíno e profundo com Deus.'"
        [image]="'/assets/images/placeholder.png'"
        [reverse]="false"
        [bgColor]="''">
    </app-purpose>

    <app-purpose
        [title]="'PERTENCER'"
        [subtitle]="'Integrados à família de Deus buscando os firmes propósitos fundamentados na Bíblia'"
        [descriptionTitle]="'Batizar os que foram feitos discípulos:'"
        [description]="'O batismo introduz na comunhão e identifica o novo crente com o corpo de Cristo. Como crentes somos membros de um corpo; somos chamados a participar. Batismo é a visualização da integração no corpo de Cristo (Ed 2.19).'"
        [image]="'/assets/images/placeholder.png'"
        [reverse]="true"
        [bgColor]="'bg-gray-800'">
    </app-purpose>

    <app-purpose
        [title]="'CRESCER'"
        [subtitle]="'Criados para tornarem-se semelhantes a Cristo, por meio da busca pelo crescimento espiritual'"
        [descriptionTitle]="'Ensinar a obedecer:'"
        [description]="'Discipulado. A igreja existe para educar e edificar o povo de Deus. No seu sentido literal, Mateus 28.19 quer dizer: “indo, batizando e ensinando”.'"
        [image]="'/assets/images/placeholder.png'"
        [reverse]="false"
        [bgColor]="''">
    </app-purpose>

    <app-purpose
        [title]="'SERVIR'"
        [subtitle]="'Moldados para servir a Deus praticando os dons e talentos'"
        [descriptionTitle]="'Amar o próximo como a ti mesmo:'"
        [description]="'A igreja existe para ministrar ao povo. Cada vez que tocamos alguém com amor, estamos ministrando. A igreja deve ministrar a todos os tipos de necessidades (Ef 4.12).'"
        [image]="'/assets/images/placeholder.png'"
        [reverse]="true"
        [bgColor]="'bg-gray-800'">
    </app-purpose>
  
    <app-purpose
        [title]="'ALCANÇAR'"
        [subtitle]="'Feitos para a missão de ganhar vidas para Jesus e dessa forma agradar o coração de Deus'"
        [descriptionTitle]="'Ir e fazer discípulos de Jesus:'"
        [description]="'A igreja existe para comunicar a Palavra de Deus. Nossa missão é evangelizar o mundo (2 Co 5.20).'"
        [image]="'/assets/images/placeholder.png'"
        [reverse]="false"
        [bgColor]="''">
    </app-purpose>


</div>