<div id="aboutUs" class="container mx-auto flex flex-col md:flex-row items-center space-y-8 lg:space-y-0 lg:space-x-12 px-4 lg:px-8">            
    <div *ngIf="isInView" class="about-text md:w-1/2 space-y-4 text-gray-300 text-center md:text-left" [@slideInLeft]>
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white relative">
            ICMAV
            <span class="block h-1 w-24 bg-gray-500 mt-2 mx-auto md:mx-0"></span>
        </h1>
        <p class="text-base md:text-lg lg:text-xl">
            Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora nesciunt quae molestiae nemo? Omnis, aut qui? Doloremque minus explicabo, consectetur vero nihil deserunt non iure veritatis corporis fuga tempora!
        </p>
        <p class="text-sm md:text-base lg:text-lg italic font-semibold text-gray-400">Base scripture</p>
    </div>

    <div *ngIf="isInView" class="about-image md:w-1/2 flex justify-center md:justify-end" [@slideInBottom]>
        <img src="assets/images/henrique.jpg" alt="henrique" class="rounded-lg shadow-lg hover:shadow-2xl hover:border-4 hover:border-gray-700 transition-all duration-300 transform hover:scale-105 w-80 md:w-96 lg:w-[32rem]">
    </div>
</div>
